services:
   namenode:
      build:
        context: .
        dockerfile: Dockerfile
      hostname: namenode
      command: ["hdfs", "namenode"]
      ports:
        - 9870:9870
      env_file:
        - ./config
      environment:
          ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
          HADOOP_HOME: "/opt/hadoop"
   datanode:
      build:
        context: .
        dockerfile: Dockerfile
      command: ["hdfs", "datanode"]
      env_file:
        - ./config
   datanode2:
      build:
        context: .
        dockerfile: Dockerfile
      command: ["hdfs", "datanode"]
      env_file:
        - ./config
   resourcemanager:
      build:
        context: .
        dockerfile: Dockerfile
      hostname: resourcemanager
      command: ["yarn", "resourcemanager"]
      ports:
         - 8088:8088
      env_file:
        - ./config
      volumes:
        - ./test.sh:/opt/test.sh
   nodemanager:
      build:
        context: .
        dockerfile: Dockerfile
      command: ["yarn", "nodemanager"]
      env_file:
        - ./config